::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 7px solid #23294340;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #0398fc, #39bf59);
    border-radius: 10px;
}